<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Peertalk Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Peertalk iOS Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>peertalk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A64AAC5152604D40065BF86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A64AAE11526050D0065BF86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A88FA2F150D613800FC3647</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A88FA43150D613800FC3647</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
